/* BELEN */
.header {
  background-color: rgb(98, 199, 243);
  border: 1px solid rgb(0, 3, 3);
}
p {
  color: rgb(0, 0, 5);
  font-size: 18px;
}
h1 {
  font-size: 350%;
  margin: 0 0 15px;
  color: rgb(0, 2, 2);
}
h2 {
  font-size: 54px;
  color: rgb(11, 10, 10);
  text-align: center;
}
h3 {
  color: #868686;
  font-size: 20px;
  text-align: center;
  border: 1px;
}
html,
body {
  height: 100vh;
}
body {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: #222;
}
a {
  color: inherit;
  text-decoration: none;
}
small {
  color: lightgray;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.cards {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  max-width: 820px;
}
.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url(https://mcusercontent.com/ec104f3d77537e1962ab6441c/images/f9167dfd-9e60-4edd-b1ec-5bd151a5e52a.jpg);
}
.card--2 .card__img,
.card--2 .card__img--hover {
  background-image: url(https://mcusercontent.com/ec104f3d77537e1962ab6441c/images/21f25caa-a6fe-40bb-9b1f-85f59ee063dd.jpg);
}
.card--3 .card__img,
.card--3 .card__img--hover {
  background-image: url(https://mcusercontent.com/ec104f3d77537e1962ab6441c/images/b6f2cc1d-498a-4188-83e7-aa5f030462dc.jpg);
}
.card__like {
  width: 18px;
}
.card__time {
  font-size: 12px;
  color: #df3385;
  vertical-align: middle;
  margin-left: 5px;
}
.card__clock-info {
  float: right;
}
.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}
.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}
.card {
  margin-right: 25px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 13px 10px -7px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 0 30px 18px -8px rgba(0, 0, 0, 0.1) !important;
  transform: scale(1.1, 1.1) !important;
}
.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px;
}
.card__category {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}
.card__title {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  text-decoration: none !important;
  font-weight: 700 !important;
  font-size: 22px;
  color: #444 !important;
  line-height: 150%;
}
.card__by {
  font-size: 12px;
  font-weight: 700;
}
.card__author {
  font-weight: 700;
  text-decoration: none;
  color:  #df3385;
}
.card:hover .card__img--hover {
  height: 100% !important;
  opacity: 0.3 !important;
}
.card:hover .card__info {
  background-color: transparent !important;
  position: relative !important;
}
.card:hover .card__info-hover {
  opacity: 1 !important;
}
@media screen and (max-width: 800px) {
  .card {
    width: 100% !important;
  }
}
#grande {
  font-size: 100px;
  color: rgb(10, 9, 9);
  background: #dfe0e0;
  border: 1px;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  text-align: center;
}
/* BELEN */
/* URIEL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.cardsContainer {
  display: grid;
  grid-column: 1/8;
  grid-template-columns: repeat(auto-fill, minmax(392px, 1fr));
  max-width: 90%;
  margin: 0px 50px;
  align-items: center;
  justify-items: center;
}

#tittleViajes {
  font-size: 2.2rem;
  text-align: center;
  margin: 10px;
  &::selection {
    background-color: black;
    color: white;
  }
}

.cardViaje {
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  margin: 10px;
  width: 320px;

  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  border: 1px solid #dfdfdf;

  &:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 10px rgba(0, 0, 0);
  }
  &:hover .precio {
    transform: scale(1.1);
  }
}

.aCard {
  width: 100%;
  position: relative;
}

.imagenDestino {
  border-radius: 5px;
  width: 100%;
  max-height: 211.688px;
}

.precio {
  position: absolute;
  z-index: 100;
  top: 180px;
  background-color: #df3385;
  color: #ffffff;
  padding: 3px 10px;
  transition: all 0.3s;
}

.tittleDiv {
  margin: 5px;
}

.destino {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  &::selection {
    background-color: black;
    color: white;
  }
}

.fechaOferta {
  font-size: 13px;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  &::selection {
    background-color: black;
    color: white;
  }
}

.diasDiv {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  padding: 5px;
}

.dias {
  font-size: 12px;
  font-weight: 600;
  &::selection {
    background-color: black;
    color: white;
  }
}

#cardViajeClima {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  background-color: #df3385;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 50px 0;
}

#climaTitulo {
  color: rgba(250, 250, 250, 0.9);
}

#descripcionClima {
  color: rgba(250, 250, 250, 0.9);
}

#ciudadNombre {
  text-align: start;
  color: #ffffff;
}

#grados {
  color: #ffffff;
}

.sectionCardsClima {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* URIEL */